/*-- scss:rules --*/

.goals {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid #009e73; 
  border-radius: 10px;
}

.goals-header {
  margin-left: 0em;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: #f1faf8;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.scrollable-output {
  max-height: 250px;
  overflow-y: auto;
}

